/* Right (peripheral) side overlay */
#include "corne_common.dtsi"

&pro_micro_i2c {
	glidepoint: glidepoint@2a {
		compatible = "cirque,pinnacle";
		reg = <0x2a>;
		status = "okay";
		sensitivity = "4x";
	};
};

&glidepoint_split {
	device = <&glidepoint>;
};
