/* Right (peripheral) side overlay */
#include "corne_common.dtsi"

/* Disable RGB SPI3 to free P0.06 for Cirque DR pin */
&spi3 {
	status = "disabled";
};

&pro_micro_i2c {
	glidepoint: glidepoint@2a {
		compatible = "cirque,pinnacle";
		reg = <0x2a>;
		status = "okay";
		data-ready-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		sensitivity = "4x";
	};
};

&glidepoint_split {
	device = <&glidepoint>;
};
